Adafruit-Blinka==6.10.2
adafruit-circuitpython-bme280==2.6.6
adafruit-circuitpython-busdevice==5.0.6
adafruit-circuitpython-pm25==2.1.4
Adafruit-PlatformDetect==3.14.0
Adafruit-PureIO==1.1.9
backcall==0.2.0
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.12
cryptography==3.4.8
decorator==5.0.9
idna==3.3
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
matplotlib-inline==0.1.2
mysql-connector==2.2.9
mysqlclient==2.0.3
paramiko==2.7.2
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pkg_resources==0.0.0
prompt-toolkit==3.0.19
ptyprocess==0.7.0
pycparser==2.20
pyftdi==0.53.1
Pygments==2.9.0
PyNaCl==1.4.0
pyserial==3.5
python-aqi==0.6.1
python-dateutil==2.8.1
pyusb==1.1.1
pyzmq==22.1.0
requests==2.27.1
rpi-ws281x==4.3.0
RPi.GPIO==0.7.0
six==1.16.0
sshtunnel==0.4.0
sysv-ipc==1.1.0
timeloop==1.0.2
tornado==6.1
traitlets==5.0.5
urllib3==1.26.8
wcwidth==0.2.5
